<h1>Nba</h1>
<br /><br/>
<div id="performances-area">
  <%= render :partial => "performance", :collection => @performances %>
</div>
<br /><br/>
<br /><br/><br /><br />
<%= link_to 'getgames', :action => 'getgames' %>
